.dialog-wrapper {
  padding: 20px;
  width: 100%;
  max-width: 550px;
  box-sizing: border-box;
}
.image-panel{
    font-family: Arial, sans-serif;
}
img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: transform 0.2s ease;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}
li{
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

input, select, textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
}

textarea {
  min-height: 80px;
  resize: vertical;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.btn {
  padding: 8px 14px;
  cursor: pointer;
  font-size: 14px;
  border: none;
}

.update-btn {
  background: #1976d2;
  color: white;
}

.cancel-btn {
  background: #ddd;
}
.apply-btn{
    
    background-color: #b4b4b4ff;
    text-align: center;
}
.btn-right{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
}
.apply-btn:hover{
    opacity: 0.9;
    background-color: #888888ff;
    color: white;
}