<div class="dialog-wrapper">
    <mat-tab-group *ngIf="role === 'USER'"> 

    <!-- USER UPDATE FORM -->

    <mat-tab label="Update Details">  
    <form *ngIf="complaint" class="form-container">
      <div class="form-group">
        <label>Category *</label>
        <select [(ngModel)]="complaint.category" name="category" required>
          <option value="">-- Select Category --</option>
          <option *ngFor="let c of categories" [value]="c">{{c}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Description *</label>
        <textarea [(ngModel)]="complaint.description" name="description" required></textarea>
      </div>

      <div class="form-group">
        <label>Province * <i style="font-size: smaller; color: blue;">please select province !</i></label>
        <select [(ngModel)]="complaint.province" name="province" (change)="onProvinceChange()" required>
          <option value="">-- Select Province --</option>
          <option *ngFor="let p of provinces" [value]="p">{{p}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>District * <i style="font-size: smaller; color: blue;">please select district !</i></label>
        <select [(ngModel)]="complaint.district" name="district" required>
          <option value="">-- Select District --</option>
          <option *ngFor="let d of districts" [value]="d">{{d}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>City *</label>
        <input [(ngModel)]="complaint.city" name="city" required />
      </div>

      <div class="form-group">
        <label>Location *</label>
        <input [(ngModel)]="complaint.location" name="location" required />
      </div>
      <div class="dialog-actions">
        <button type="button" class="btn update-btn" (click)="update()">Update</button>
        <button type="button" class="btn cancel-btn" (click)="close()">Cancel</button>
      </div>
    </form>
    </mat-tab>
    <!--image panel-->
    <mat-tab label="Update Images">
      <div class="image-panel">

        <h4>Existing Images</h4>
        <ul class="image-list">
          <li *ngFor="let img of currentImages">
            <img [src]="getUrl(img)" alt="complaint image"><br>
            <button (click)="markImageForDeletion(img)">Delete</button>
          </li>
        </ul>

        <h4>New Images to Add</h4>
        <input type="file" multiple (change)="onFileSelect($event)">

        <ul>
          <li *ngFor="let file of newImages">
            {{ file.name }}
            <button (click)="removeNewImage(file)">Remove</button>
          </li>
        </ul>
        <div class="btn-right"><button class="btn apply-btn" (click)="applyImageChanges()">Apply Image Changes</button></div>
        
        </div>
     </mat-tab>
     
    </mat-tab-group>

    <!-- OFFICER UPDATE FORM -->
    <form *ngIf="role === 'OFFICER'" class="form-container">

      <div class="form-group">
        <label>Status *</label>
        <select [(ngModel)]="complaint.status" name="status" required>
          <option value="PENDING">PENDING</option>
          <option value="UNDER_INVESTIGATION">UNDER_INVESTIGATION</option>
          <option value="RESOLVED">RESOLVED</option>
          <option  value="REJECTED">REJECTED</option>
        </select>
      </div>

      <div class="form-group">
        <label>Officer Note *</label>
        <textarea [(ngModel)]="complaint.officerNote" name="officerNote" required>
        </textarea>
      </div>
    <div class="dialog-actions">
      <button type="button" class="btn update-btn" (click)="update()">Update</button>
      <button type="button" class="btn cancel-btn" (click)="close()">Cancel</button>
    </div>

  </form>
</div>
