p{
    padding-left: 24px;
    cursor: pointer;
}
button{
    font-size: 15px;
    border: 0;
    cursor: pointer;
    background-color:transparent;
    font-weight: 600;
}
button:hover{
    color: #1e5ce2ff;
}